
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>VxAssistMaterial</span>
  <span class="example-spacer"></span>
  
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/form-despesa'">
      <mat-icon>attach_money</mat-icon>
      <span>Despesas</span>
    </button>
    <button mat-menu-item>
      <mat-icon>request_quote</mat-icon>
      <span>Contas</span>
    </button>
    <button mat-menu-item>
      <mat-icon>widgets</mat-icon>
      <span>Fornecedores</span>
    </button>
  </mat-menu>
  

</mat-toolbar>

<p>
<a href='https://material.io/resources/icons/?style=baseline'>https://material.io/resources/icons/?style=baseline</a>
</p>
<p>
<a href='https://fontawesome.com/start'>https://fontawesome.com/start</a>
</p>
<p>
<a href='https://material.angular.io/components/icon/overview'>https://material.angular.io/components/icon/overview</a>
</p>
<p>
<a href='https://angular.io/start/start-deployment'>https://angular.io/start/start-deployment</a>
</p>


<router-outlet></router-outlet>